<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Live Posts</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/admin.css">

</head>
<body>
	<div class="container_main">
		<div class="container">
			<div class="main">
				<div class="right">
                    
                   <ul style="margin-left: 40px;list-style-type: none">
                       <% result.forEach(function(item){ %>
							<li><a href="viewer/<%=item.url%>"><%= item.title %></a></li>
					   <% }) %>
                      
                   </ul>
                    
				</div>
				<aside>
						<% include partials/nav.ejs %>
                </aside>
			</div>
		</div>
	</div>
    <script src="../js/script.js"></script>
</body>
</html>