<h4>Admin<h4>	
    <ul>
        <a href="new-post"><li>Create Post</li></a>
        <a href="home"><li>View Posts</li></a>
        <a href="draft"><li>Draft</li></a>
        <a href="logout" style="color:#b13f3f"><li>logout</li></a>
    </ul>